@{
    ViewBag.Title = "Home Page";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AutoParts</title>
    <link rel="icon" href="~/images/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/base.css" />
    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="stylesheet" href="~/css/hero.css" />
    <link rel="stylesheet" href="~/css/albums.css" />
    <link rel="stylesheet" href="~/css/footer.css" />
    <link rel="stylesheet" href="~/css/media-queries.css" />
</head>
<body>
    <!-- HEADER -->
    <header>
        <div class="header-container">
            <div class="header-logo">
                <img src="~/images/for website.png">
            </div>
            <!-- This is the menu that will be shown on mobile devices-->
            <nav class="nav-mobile">
                <!-- Hamburger menu -->
                <input type="checkbox" class="toggler" />
                <div class="hamburger-menu"><div></div></div>
                <div class="menu">
                    <div class="background-overlay"></div>
                    <div class="menu-overlay">
                        <ul>
                            <li>
                                <a href="#">
                                    Home

                                </a>
                            </li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Contact</a></li>

                        </ul>
                        <div class="menu-overlay-logo">
                            <img src="~/images/for website.png">
                        </div>
                    </div>
                </div>
            </nav>
            <!-- This is the menu that will be shown on Desktop -->
            <nav class="nav-desktop">
                <!-- Site menu -->
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Contact</a></li>
                    <li role="separator"></li>
                </ul>

            </nav>
        </div>
    </header>
    <!-- HERO -->
    <section class="hero">
        <div class="hero-container">
            <div class="hero-content">
                <img class="hero-img" src="~/images/others.png" alt="">
                <h1 class="hero-title">Find your required parts for your vehicle</h1>
                <button class="hero-button">Contact us</button>

            </div>
        </div>
    </section>
    <!-- ALBUMS -->
    <section class="albums">
        <div class="albums-container">
            <div class="albums-content">
                <h2>PRODUCTS</h2>
                <p>We Provide the best services</p>
            </div>
            <div class="albums-cards-container">

                <div class="album">
      <img src="~/images/images.jpg" />
      <div class="album-info">
        <h2>Autoparts</h2>
        <h4>PartName</h4>

      </div>
    </div>

    <div class="album">
      <img src="~/images/images.jpg" />
      <div class="album-info">
        <h2>Autoparts</h2>
        <h4>PartName </h4>

      </div>
    </div>

    <div class="album">
      <img src="~/images/images.jpg" />
      <div class="album-info">
        <h2>Autoparts</h2>
        <h4>PartName</h4>

      </div>
    </div>

    <div class="album">
      <img src="~/images/images.jpg" />
      <div class="album-info">
        <h2>Autoparts</h2>
        <h4>PartName </h4>

      </div>
    </div>

    <div class="album">
      <img src="~/images/images.jpg" />
      <div class="album-info">
        <h2>Autoparts</h2>
        <h4>PartName </h4>

      </div>
    </div>

    <div class="album">
      <img src="~/images/images.jpg" />
      <div class="album-info">
        <h2>Autoparts</h2>
        <h4>PartName </h4>

      </div>
    </div> 
            </div>
        </div>
    </section>
    <!-- FOOTER -->
    <footer>
        <nav class="footer-nav">
            <div class="logo-footer">
                <a href="#" style="color: white;"><img src="~/images/for website.png" /></a>
            </div>
            <div class="top-links">
                <div class="company-links">
                    <ul>
                        <li>COMPANY</li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Product</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="communities-links">
                    <ul>
                        <li>CATEGORIES</li>
                        <li><a href="#">Head Lights</a></li>
                        <li><a href="#">Bumpers</a></li>
                        <li><a href="#">Stering Wheels</a></li>
                        <li><a href="#">Others</a></li>
                    </ul>
                </div>
                <div class="useful-links">
                    <ul>
                        <li>CONTACT</li>
                        <li><a href="#">Email us</a></li>
                    </ul>
                </div>
            </div>
            <div class="social-icons">
                <ul>
                    <li>
                        <a href="#"><img src="~/images/instagram-icon.svg" /></a>
                    </li>
                    <li>
                        <a href="#"><img src="~/images/twitter-icon.svg" /></a>
                    </li>
                    <li>
                        <a href="#"><img src="~/images/facebook-icon.svg" /></a>
                    </li>
                </ul>
            </div>
            <div class="country">
                <a href="#"><span>PAKISTAN</span><img src="~/images/Flag_of_Pakistan.svg.png" /></a>
            </div>
            <div class="bottom-links">
                <ul>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Privacy Center</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">About Ads</a></li>
                    <li><a href="#">Additional CA Privacy Disclosures</a></li>
                </ul>

            </div>
        </nav>
    </footer>
</body>
<script src="~/js/script.js"></script>
</html>
